{{#if componentData.list}}
    <div class="container">
        <div class="row" style="margin-bottom: 40px;">
            <div style="background-color: #FFFFFF; border:1px solid #D6D6D6; width:600px; margin:0 auto; padding-bottom: 20px;">
                <p class="text-center home-suggestions-title">GitHub Feed</p>
                <ul>
                    {{#each componentData.list}}
                        <li style="list-style-type:none; padding: 10px 0;">
                            <div>
                                <img style="float:left" height="38" src="{{user.avatar_url}}" />
                            </div>
                            <div style="padding-left: 45px;">
                                <a href="{{html_url}}"><strong>{{title}}</strong></a>
                                <br/>
                                by <a href="{{user.html_url}}">{{user.login}}</a>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}
