{{#if feed}}
    <div class="container" id="github-feed">
        <div class="row">
            <div>
                <p class="text-center home-suggestions-title">GitHub Feed</p>
                <ul>
                    {{#each feed}}
                        <li>
                            <div>
                                <img height="38" src="{{user.avatar_url}}" />
                            </div>
                            <div class="body">
                                <a href="{{html_url}}"><strong>{{title}}</strong></a>
                                <br/>
                                by <a href="{{user.html_url}}">{{user.login}}</a>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}
